<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Sheets - [TITULO]</title>
    <link rel="stylesheet" href="css/template.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
</head>
<body>
    <div class="central">
        <header class="header">
            </header>

        <div class="main-section">
            </div>

        <script src="src/[NOME_DO_SCRIPT].js"></script>
    </div>
</body>
</html>