body {
    background-image: url(https://assetsio.gnwcdn.com/new-dnd-5e-starter-set-artwork.png?width=690&quality=85&format=jpg&dpr=3&auto=webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.central {
    display: flex;
    opacity: 70%;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: #2d2d2d;;
    color: #d4af37;
    border: 2px solid #d4af37;
    border-radius: 5%;
}
.lead{
    color: #e0e0e0;
    margin-top: -20px
}
.sheet{
    text-align: right;
    text-transform: capitalize;
}