body {
    background-image: url(https://assetsio.gnwcdn.com/new-dnd-5e-starter-set-artwork.png?width=690&quality=85&format=jpg&dpr=3&auto=webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.central {
    display: flex;
    opacity: 90%;
    flex-direction: column;
    align-items: left;
    min-height: 200px;
    background-color: #2d2d2d;
    color: #d4af37;
    border: 2px solid #d4af37;
    border-radius: 5%;
}

.lead {
    color: #e0e0e0;
}

.sheet {
    display: block;
    width: fit-content;
    min-width: 50%;
    text-align: center;
    text-transform: capitalize;
}

table{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}
th,
td {
    border: 2px solid #545454;
    /* Sets the border for the table and its cells */
    border-collapse: collapse;
    /* Makes borders collapse into a single line */
}
th{
    color: rgb(179, 94, 4);
}
td {
    color: rgb(240, 235, 224);
    padding: 5px;
    text-align: center;
}
.image {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}
header {
    margin: 20px;
    text-align: left;
}
button {
    align-self: center;
    width: auto;
    margin: 2px;
    background-color: #A8A9AD;
    border-color: white;
    border-radius: 5px;
    text-shadow:
        -1px -1px 0 #d8d8d8,
        1px -1px 0 #d8d8d8,
        -1px 1px 0 #d8d8d8,
        1px 1px 0 #d8d8d8;
}
button:hover{
    scale: 1.03;
}