body {
    background-image: url(https://assetsio.gnwcdn.com/new-dnd-5e-starter-set-artwork.png?width=690&quality=85&format=jpg&dpr=3&auto=webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.central {
    display: flex;
    opacity: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    max-width: 500px;
    min-height: 200px;
    background-color: #2d2d2d;
    padding: 40px;
    color: #d4af37;
    border: 2px solid #d4af37;
    border-radius: 5%;
}

.lead {
    color: #e0e0e0;
}
h1 {
    margin: 0;
    margin-bottom: 10px;
}
.search {
    margin-top: 20px;
}
.hidden {
    display: none;
}